In [1]:
import numpy as np 
import pandas as pd

In [2]:
train_df = pd.read_csv("train.csv")
train_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
label_dict = {True:1, False:0}
train_df["Transported_Label"] = train_df["Transported"].map(label_dict)
train_df["CryoSleep_Label"] = train_df["CryoSleep"].map(label_dict)
train_df["VIP_Label"] = train_df["VIP"].map(label_dict)
train_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Transported_Label,CryoSleep_Label,VIP_Label
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0.0,0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0.0,0.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0,0.0,1.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0,0.0,0.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,0.0,1.0
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0,1.0,0.0
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1,0.0,0.0
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,0,0.0,0.0
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,1,0.0,0.0

In [4]:
data_df = train_df[["Age","RoomService","FoodCourt", "ShoppingMall", "Spa", "VRDeck", "Transported_Label", "CryoSleep_Label", "VIP_Label"]]
data_df

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported_Label,CryoSleep_Label,VIP_Label
0,39.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
1,24.0,109.0,9.0,25.0,549.0,44.0,1,0.0,0.0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,0,0.0,1.0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0,0.0,0.0
4,16.0,303.0,70.0,151.0,565.0,2.0,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,0,0.0,1.0
8689,18.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,1,0.0,0.0
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,0,0.0,0.0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,1,0.0,0.0

In [5]:
X = data_df.drop(["Transported_Label"], axis=1).fillna(value=0)
y = data_df["Transported_Label"]
X

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,CryoSleep_Label,VIP_Label
0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,109.0,9.0,25.0,549.0,44.0,0.0,0.0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,0.0,1.0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0.0,0.0
4,16.0,303.0,70.0,151.0,565.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,0.0,1.0
8689,18.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,0.0,0.0
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,0.0,0.0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,0.0,0.0

In [6]:
y

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported_Label, Length: 8693, dtype: int64

In [7]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(random_state=1)

In [8]:
clf = clf.fit(X,y)

In [9]:
clf.score(X,y)

0.9152191418382607

In [19]:
def clean_data(dataframe): 
    test_df = pd.read_csv(dataframe)
    label_dict = {True:1, False:0}
    #train_df["Transported_Label"] = test_df["Transported"].map(label_dict)
    test_df["CryoSleep_Label"] = test_df["CryoSleep"].map(label_dict)
    test_df["VIP_Label"] = test_df["VIP"].map(label_dict)
    data = test_df[["Age","RoomService","FoodCourt", "ShoppingMall", "Spa", "VRDeck", "CryoSleep_Label", "VIP_Label"]].fillna(value=0)
    #test_X = data_df.drop(["Transported_Label"], axis=1).fillna(value=0)
    #test_y = data_df["Transported_Label"]
    
    return data

In [20]:
clean_data("test.csv")

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,CryoSleep_Label,VIP_Label
0,27.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,19.0,0.0,9.0,0.0,2823.0,0.0,0.0,0.0
2,31.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,38.0,0.0,6652.0,0.0,181.0,585.0,0.0,0.0
4,20.0,10.0,0.0,635.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4272,34.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4273,42.0,0.0,847.0,17.0,10.0,144.0,0.0,0.0
4274,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4275,0.0,0.0,2680.0,0.0,0.0,523.0,0.0,0.0
4276,43.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [23]:
clf.predict(clean_data("test.csv"))

array([1, 0, 1, ..., 1, 0, 1], dtype=int64)